.background{
	background-color: #39A9FF;
}

.img{

	margin: auto;
}

table, th, td {border: 1px solid black;}

.header {
  height:30px;
  margin-top:20px;
}

tr:hover {
  background-color: grey;
}

.grid-container {
  display: grid;
	grid-row-gap: 1px;
	background: #D3D3D3;
	border-bottom: 3px solid #707070;
}

.grid-buttons {
  display: grid;
	border-style: solid;
	border-color: #39A9FF;
	border-radius: 3px;
	background: white;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

h1 {
	font-size: 14px;
}

input {
	margin-bottom: 5px;
	width: 40px;
	margin-right: 0px;
	border-style: solid;
	border-radius: 3px;
}

.grid-item {
	font-size: 20px;
	border-top: 1px;
}
.body {
	font-size: 20px;
}

.columnleft {
    float: left;
		margin-left: 40px;
}

.columncenter {
    float: center;
		margin-right: 40px;
		margin-left: 40px;
}

.columnright {
    float: right;
		margin-right: 40px;
}

.switch {
	float: right;
	margin-right: 40px;
	margin-top: 5px;
}

.left {
    width: 75%;
}

.right {
    width: 25%;
}

.graph-container {
	background-color: grey;
}
