.background{
<<<<<<< HEAD
	background-color: #39A9FF;
=======
	background-color: #1E90FF;
>>>>>>> d253a8538d34568c3882b1ebda59d6b70ad91fc1
}

.img{

	margin: auto;
}

table, th, td {border: 1px solid black;}

.header {
  height:30px;
  margin-top:20px;
}
p {
	font-size: smaller;
}

tr:hover {
  background-color: grey;
}

.grid-container {
  display: grid;
	grid-row-gap: 1px;
	border-style: groove;
	border-color: #D3D3D3;
	border-radius: 5px;
	background: #D3D3D3;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;

}

h1 {
	font-size: 14px;
	padding-left: 15px
}

input {
	margin-bottom: 5px;
	width: 40px;
	border-style: solid;
	border-radius: 3px;
}

.grid-item {
	font-size: 20px;
}
.body {
	font-size: 20px;
}

.alerts {
	margin-right: 30px;
}

.row3 {
	top-border: 2px;
}

div {
	border: 3px;
}

.column {
    float: left;
		margin-left: 40px;
}

.switch {
	float: right;
	margin-right: 40px;
	margin-top: 5px;
}

.left {
    width: 75%;
}

.right {
    width: 25%;
}
